<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADV Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="container mx-auto">
        <div class="flex justify-center items-center h-screen">
            <div class="text-center">
                <img src="https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-shopping-mall-supermarket-selection-merchandise-poster-background-material-image_133225.jpg" alt="Shopping Mall" class="object-cover z-0 absolute top-0 left-0 w-full h-screen">
                <section class="z-10 relative p-5 border-2 border-white backdrop-blur bg-white/10 rounded">
                    <h1 class="text-4xl font-semibold" id="welcomeMessage">Welcome to ADV Shop</h1>
                    <p class="text-xl">The best place to check your favorite products</p>
                    <a href="/product/list" class="block mt-3 transition-colors bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Check our products</a>
                </section>
            </div>
        </div>
</body>
</html>